.MoviesList {
  display: flex;
  width: 100%;
}
.MoviesListContainer {
  flex: 6;
}
.movieList {
  flex: 4;
  height: 600px;
}

.movieTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}
.movieContainer{
padding: 5%;
}
.movieTitle{
text-align: center;
margin-top: 20px;
font-weight: bold;
font-size: xx-large;

}
.movieAddButton {
  width: 180px;
  border: none;
  padding: 5px;
  background-color: #b22;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.movieListItem {
  display: flex;
  align-items: center;
}

.movieListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.movieListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.movieListDelete {
  color: red;
  cursor: pointer;
}
