.TvshowList {
  display: flex;
}
.TvshowListContainer {
  flex: 6;
}
.tvshowList {
  flex: 4;
  height: 600px;
}

.tvshowListItem {
  display: flex;
  align-items: center;
}

.tvshowListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.tvshowListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.tvshowListDelete {
  color: red;
  cursor: pointer;
}
