.AddNewTvshow {
  display: flex;
}
.AddNewTvshowContainer {
  flex: 6;
}

.newtvshow {
  flex: 4;
}

.addtvshowForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addtvshowItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addtvshowItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addtvshowItem > input {
  padding: 10px;
  border: solid 1px;
}

.addtvshowItem > select {
  padding: 10px;
}

.addtvshowButton {
  height: 30px;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
